{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      },
      "es2016": false,
      "es2017": false
    }]
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },
    "es": {}
  }
}
