{
  "extends": ["airbnb-base"],
  "env": {
    "node": true
  },
  "rules": {
    "func-names": 0,
    "no-param-reassign": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "no-undef": 0
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "impliedStrict": false
  },
  "overrides": [
    {
      "files": ["*.ts", "**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "args": "none"
          }
        ]
      }
    }
  ]
}