name: Update Documentation

on:
  push:
    branches: 
      - main

jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.1.5
        with:
          registry-url: https://npm.pkg.github.com/
          node-version: 14
      - name: Build Package
        run: |
          npm install
          npm run build
      - name: Build Documentation
        run: npm run generate-docs
      - name: Push Documentation
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          ACCESS_TOKEN: ${{ secrets.GH_PAGES_PUBLISH_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: docs # The folder the action should deploy.